body
{
	margin: 0;
	padding: 0;
	color: #030303;
	font: normal 10pt 'Open Sans',Arial,Helvetica,sans-serif;
	background: #F8F8F8;
}
#page
{
	border: none;
}

#header
{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 700;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
    background-color: #c74732;
	font-size: 0.9em;
	text-align: left;
    margin-top: 15px;
}
#footer p {
    padding: 15px;
    color: #000;
}
#logo
{
    color: #000;
}
#welcome {
    margin: 10px 0px;
}
#mainmenu
{ 
    border-bottom: solid 2px #c74732;
}
#user {
    margin-bottom: 5px;
}
#user-options {
    background: #c74732;
}
#user-options a {
    color: #EFEFEF;
    border-radius: 0;
    
    background: none;
    border-left: none;
    border-right: none;
    border-top: none;
}
#user-options a:hover {
    background-color: rgba(245,245,245,.4);   
    
}

#mainmenu ul
{
	padding:15px 20px 0px 20px;
	margin:0px 0px 0px 15px;
    float: left;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color: #c74732;
	background-color:transparent;
	font-size:14px;
	font-weight:700;
	text-decoration:none;
	padding:15px;
    height: 50px;
    
    transition: all ease-in .2s;
    -webkit-transition: all ease-in .2s;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #EFEFEF;
	background-color: #c74732;
	text-decoration:none;
    
    transition: all ease-out .2s;
    -webkit-transition: all ease-out .2s;
}
#explicit {
    background-color: #c74732;
    color: #f8f8f8;
    
    width: 90%;
    padding: 1% 5%;
}
#user_discipline {
    padding: 10px;
    background-color: #c74732;
}
div.destaque {
    width: 100%;
    display: block;
    position: relative;
    margin: 0px;
}
div.destaque img {
    filter: contrast(.8);  
    height: 220px;
    overflow: hidden;
}

div.destaque div.caption h3 {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-transform:  uppercase;
    color: #c74732;
    font-size: 16px;
    
}
div.destaque .caption p {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #000;

    font-size: 14px;
    
}
div.thumbnail {
    border-radius: 0;   
}
div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
    
    margin-bottom: 10px;
    margin-top: 60px;
}
div.breadcrumbs a {
    color: #c74732;   
}
div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

#explicit a, #footer a {
    color: #F8F8F8;
    text-decoration: underline;
}
div[id^="charts"]{
    margin: 10px 0px;   
}
.short-icon {
    width: 25px;
    height: 25px;
}