body
{
	margin: 0;
	padding: 0;
	color: #030303;
	font: normal 10pt 'Open Sans',Arial,Helvetica,sans-serif;
	background: #F8F8F8;
}
#page
{
	border: none;
}

#header
{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 700;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
    background-color: #c74732;
	font-size: 0.9em;
	text-align: left;
    margin-top: 15px;
}
#footer p {
    padding: 15px;
    color: #000;
}
#logo
{
    color: #000;
}
#welcome {
    margin: 10px 0px;
}
#mainmenu
{ 
    border-bottom: solid 2px #c74732;
}
#user {
    margin-bottom: 5px;
}
#user-options {
    background: #c74732;
}
#user-options a {
    color: #EFEFEF;
    border-radius: 0;
    
    background: none;
    border-left: none;
    border-right: none;
    border-top: none;
}
#user-options a:hover {
    background-color: rgba(245,245,245,.4);   
    
}

#mainmenu ul
{
	padding:15px 20px 0px 20px;
	margin:0px 0px 0px 15px;
    float: left;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color: #c74732;
	background-color:transparent;
	font-size:14px;
	font-weight:700;
	text-decoration:none;
	padding:15px;
    height: 50px;
    
    transition: all ease-in .2s;
    -webkit-transition: all ease-in .2s;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #EFEFEF;
	background-color: #c74732;
	text-decoration:none;
    
    transition: all ease-out .2s;
    -webkit-transition: all ease-out .2s;
}
#explicit {
    background-color: #c74732;
    color: #f8f8f8;
    
    width: 90%;
    padding: 1% 5%;
}
div.destaque {
    width: 100%;
    display: block;
    position: relative;
    margin: 0px;
}
div.destaque img {
    filter: contrast(.8);  
    height: 220px;
    overflow: hidden;
}

div.destaque div.caption h3 {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-transform:  uppercase;
    color: #c74732;
    font-size: 16px;
    
}
div.destaque .caption p {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #000;

    font-size: 14px;
    
}
div.thumbnail {
    border-radius: 0;   
}
div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
    
    margin-bottom: 10px;
    margin-top: 60px;
}
div.breadcrumbs a {
    color: #c74732;   
}
div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

#explicit a, #footer a {
    color: #F8F8F8;
    text-decoration: underline;
}

/* WEATHER JQUERY PLUGIN (about.php "line 95") */
#weather {
  width: 100%;
  margin: 0px auto;
  text-align: center;
  text-transform: uppercase;
}

i {
  color: #fff;
  font-family: weather;
  font-size: 150px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.0;
}

.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }

#weather h2 {
  margin: 0 0 8px;
  color: #fff;
  font-size: 100px;
  font-weight: 300;
  text-align: center;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}

#weather ul {
  margin: 0;
  padding: 0;
}

#weather li {
  background: #fff;
  background: rgba(255,255,255,0.90);
  padding: 20px;
  display: inline-block;
  border-radius: 5px;
}

#weather .currently {
  margin: 0 20px;
}