@charset "utf-8";
body {
    color: #333;
    font-family: Raleway, Helvetica, Arial, sans-serif;
    background-color: #FFFFFF;
}

/*** cabeçalho ***/
p.wallet {
    background: url(../img/sacola.png) no-repeat top left;
    padding-left: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    text-align: left;
    width: 200px;
    margin-left: 15px;
}
.hidden {
    display: none;   
}

h1 {
    margin: 0px auto 25px;
    font-family: Raleway;
}
h1 img {
    max-width: 80px;
    margin-bottom: 8px;
}
h1 > p {
    text-transform: uppercase;
    font-size: 22px;
}
h1 > p b {
    font-weight: bold;   
}

header {
    width: 100%;
    margin: 0;
    text-align: center;
    position: relative;
    padding-top: 4%;
}
.container {
    margin: 0 auto;
    width: 1200px;
}
/* TOP NAVIGATION */
nav.options-menu {
    position: absolute;
    top: 2%;
    left: 12%;
}
nav.options-menu ul, nav.options-menu h3 {
    display: inline-block;
}
nav.options-menu ul li {
    display: inline-block;
    margin-right: 25px;
}
nav.options-menu ul li:nth-child(6) {
    margin-right: 0px;
}
nav.options-menu ul.nav-links {
    font-size: 14px;
}
nav.options-menu h3::before/*, nav.options-menu ul.social-links::after */{
    content: '|';   
    margin-right: 30px;
}
nav.options-menu ul.nav-links a {
    color: #000;
    text-decoration: blink;
}
nav.options-menu ul.nav-links a:hover {
    opacity: .5;
}
nav.options-menu ul.nav-links a:active {
    color: #867dc6;   
}
nav.options-menu ul h3 {
    padding: 10px;
    color: black;
    font-size: 13px;
}
/*nav.options-menu ul.social-links li {
    margin-right: 8px;
}
ul.social-links li a {
    width: 30px;
    height: 30px;
    padding: 3px;
    text-indent: -9999px;
    display: block;
    
    transition: all .3s linear;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    
    position: relative;
    bottom: 2px;
}
ul.social-links li a:hover {
    filter:invert(100%);
    -moz-filter: invert(100%);
    -webkit-filter: invert(100%);
    
    transition: all .3s linear;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
}
ul.social-links a[href*="facebook"] {background:url(../img/icons/facebook.png) center center no-repeat, #FFFFFF;}
ul.social-links a[href*="twitter"] {background: url(../img/icons/twitter.png) center center no-repeat, #FFFFFF;}
ul.social-links a[href*="plus.google"] {background: url(../img/icons/google-plus.png) center center no-repeat, #FFFFFF;}
*//* end header */





.features { 
    margin: 12px auto;
    position: relative;
}
.search, .menu-department {
    background-color: #000;
    font-weight: bold;
    text-transform: uppercase;
    width: 230px;
    margin-right: 10px;
    float: left;
}
.search h2, .search form, .menu-department h2 {
    color: #FFF;
    margin: 10px;   
}
.search input {
    vertical-align: middle;
}
.search input[type=search]{
    width: 170px;
    border-radius: 0px;
}
.search input[type=image]{
    width: 24px;
}

section[class|="menu"] li {
    background-color: white;
    margin-bottom: 1px;
    padding: 5px 10px;
}
.menu-department {
    clear: left; 
    margin-top: 10px;
    padding-bottom: 10px;
}
.menu-department ul li ul {
    display: none;   
}
.menu-department li:hover ul {
    display: none;   
}
.menu-department ul li ul li {
    background-color: #DCDCDC;
}
.menu-department ul li li a:before {
    content: '\272A'; 
    padding-right: 3px;
}
.menu-department a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.banners {
    height: 337px;
    overflow: hidden;
}
.banners img {
    width: 100%;
}   
/* *** FIM BLOCO DE MENU E DESTAQUES *** */

/* ~ PRODUTOS E PROMOÇÕES ~ */
aside.promotions > h2 {
    margin: 10px 0px;
    padding-left: 15px;
    color: #000;
    background-color: #FFF;
}
.promotions figure {
    padding: 0 5%;
    width: 90%;
}
.promotions figure img {
    width: 100%;   
}
.promotions {
    float: right;
    width: 29%;
    margin-left: 1%;
    height: auto;
}
.promotions a {
    text-decoration: none;
}
.promotions p {
    width: 80%;
    font-size: 18px;
    color: #000;
    border: solid 1px #000;
    margin: 10px auto;
    padding: 10px 5%;
    position: relative;
    
}
.promotions p.shipping {
    background: url(../img/icons/shipping.png) no-repeat right center, #DDDD44; 
    background-size: 50px;
    background-position: 95% 50%;
}
.promotions p.gift-card {
    background: url(../img/icons/lovecard.png) no-repeat right center, #ED4444;   
}
.promotions p span {
    font-size: 16px;
    opacity: .8;
}


.panels {
    float: left;
    clear: left;
    width: 70%;
    display: block;
    margin-bottom: 30px;
}
.panel {
    margin: 10px 0;
    padding: 0%;
    width: 100%;
}
h2 {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 10px;
    
    background-color: #000;
    color: #FFF;
    padding: 5px 0px;

}
h2 span {
    background-color: #FFF;
    color: #000;
    padding: 5px 5px;
}
.panel li {
    display: inline-block;
    vertical-align: top;
    width: 22%;
    margin: 1%;
    padding-bottom: 10px;
    
        /* some adjust */
            transition: 0.3s ease-out;
    -webkit-transition: 0.3s ease-out;
    
    border: none;
}
/*** HOVER OVER ENCHANCEMENT ***/
.panel li:hover {
    box-shadow: 0px 0px 5px #333;
    background-color: rgba(255,255,255,.8);
    
    /* transition effects */
    -webkit-transition: all linear 0.3s;
    transition: all linear 0.3s;
    
    border: solid thin #000;
}
.panel figure img {
    margin-bottom: 5px;
    width: 100%;
}
.panel a {
    color: #333;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}
.panel a p em {
    font-size: 16px;
    font-stretch: expanded;
    
    color: #FFF;
    background-color: #000;
    padding: 3px;
    
    position: relative;
    top: 15px;
    left: 25px;
}

.featured {
    float: left;
    background-color: #FFFFFF;
    
}
.most-selled {
    float: left;
    background-color: #FFF;
}

/* ~ BOTÃO MOSTRAR MAIS ~ */
/*
.panel button {
    display: none;   
}

.panel button {

    float: right;
    margin-right: 10px;
    padding: 10px;
    
    background-color: #333;
    border: 0;
    border-radius: 4px;
    box-shadow: 1px 1px 3px rgba(30,30,30,0.5);
    color: white;
    font-size: 1em;
    text-decoration: none;
    text-shadow: 1px 0 1px black;
    
    transition: 0.3s;
}
.panel button:hover {
    background-color: #393939;
    box-shadow: 1px 0 20px rgba(200,200,120,0.9);
}
.panel button {
    color: white;
    position: relative;
    margin-bottom: 10px;
}
.panel button:after {
    content: '';
    display: block;
    height: 0;
    width: 0;
    
    border-top: 10px solid #333;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    
    transition: 0.3s;
}

.panel button:hover:after {
    border-top-color: #393939;
}


.compactpanel li:nth-child(n+7){
    display: none;   
}
.compactpanel button {
    display: block;   
} */

/* PARTNERS LIST */
.partners {
    clear: both;
    background-color: #FFF;
    margin-bottom: 30px;
    
}
.partners ol li {
    display: inline-block;
    margin-left: 5%;
    background-color: #FFF:
}
.partners ol li figure {
    display: table-cell;
    vertical-align: middle;
}
.partners ol li figure img {
       max-width: 200px;
}


/* SOCIAL MEDIA */
.social-media{
    margin-bottom: 30px;   
}
.networks{
    float:  left;
    width: 68%;
    
    background-color: #000;
    color: #FFF;
    padding: 2% 1%;
}
.networks .youtube {
    float: left;
    clear: left;
    width: 45%;
    padding-right: 5%;
}
.networks .youtube iframe {
    border: solid 1% white;
    width: 100%;
    margin-bottom: 10px;
}
.networks .youtube a {
    font-size: 12px;
}
.networks .instagram {
    float: left;
    clear: right;
    width: 45%;
    padding-left: 5%;
}
.instagram .pictures {
    display: block;
    width: 98%;
    padding: 0% 1%;
}
.instagram .pictures li {
    display: inline-block;
    margin-bottom: 3px;
}
.instagram .pictures li:first-child {
    width: 166px;
    height: 166px;
    float: left;
    margin-right: 6px;
    
}
.instagram .pictures li {
    width: 80px;
    height: 80px;   
}
.instagram .pictures li figure img {
    width: 100%;
}
.instagram a.insta-link {
    color: #FFF;
    padding-left: 0px;
    font-size: 14px;
    text-decoration: none;
}
.instagram a.insta-link::before {
    content: url(../img/icons/instagram.png);
    display: inline-block;
    position: relative;
    top: 10px;
    left: 0px;
    margin-right: 10px;
    margin-left: 5px;
    
    
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

/* ~ CONTACT INFORMATIONS ~ */
.contact {
    float: right;
    width: 28%;
    
    background-color: #FFF;
    color: #000;
    padding: 2% 0% 2% 1%;
}
.contact h3 {
    font-size: 16px;
    color: #000;
    margin-top: 10px;
    margin-left: 10px;
}
.contact address, .contact p {
    font-size: 14px;
    font-style: italic;
    color: #000;
    opacity: .9;
    margin: 20px 0px;
    padding-left: 0px;
    position: relative;
    padding-left: 57px;
}
.contact address::before, .contact p::before {
    display: block;
    position: absolute;
    left: 15px;
}   
.contact address::before {
    content: url(../img/icons/office17.png);
    top: 7px;
}
.contact p.phones::before {
    content: url(../img/icons/talk8.png);   
    top: 0px;
}
.contact p.mail::before {
    content: url(../img/icons/new48.png);   
    top: -5px;
}



/* ~ RODAPÉ ~ */
.social-networks {
    margin: 10px;
    display: inline-block;
}
.fb-like {
    float: left;
    display: inline;
}
.twitter-share-button {
    margin-left: 15px;   
    display: inline;
}

footer {
    background-color: #FFFFFF;
    clear: both;
    padding: 20px 0;
}
footer .content {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
footer .content img {
    width: 60px;   
}
footer q {
    margin: 5px 0px;
    display: block;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    color: #333;
}
footer p#creator{
    position: absolute;
    bottom: 3px;
    right: 5px;
    display: block;
    
    font-size: 11px;
    opacity: .7;
}

aside#control-wrapper {
    width: auto;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #FFF;
    padding: 8px;
}
a#control {cursor: pointer;}
.pause, .play {display: block; /*position: absolute; top: 15px; right: 15px;*/}
.pause {border-left: 10px solid #000; border-right: 10px solid #000; width: 5px; height: 30px;}
.play {border-bottom: 15px solid transparent; border-left: 25px solid #000; border-top: 15px solid transparent;}