/*
Responsive Mobile Toggle Menu v2.2
Description: Mobile first responsive toggle menu
Author: Danielle Vautier
*/

/*Menu mobile first CSS*/
body{ -webkit-animation: bugfix infinite 1s; }

/*This fixes a chrome/webkit bug for older Android Browsers */
@-webkit-keyframes bugfix { from {padding:0;} to {padding:0;} } 

/*Required functional CSS don't change this bit
CSS styles are at the end! */

.mainMenu {
	display:block;
	}
	
#toggleMenu { 
	display: none;
	}

#toggleMenu:checked ~ ul {  
	max-height:100%; /*Make page height*/ 
	opacity:1;
	}
	
.mainMenu > ul {
	list-style:none;
    overflow-y: hidden;
	max-height:0;
	}

.mainMenu li {
	margin:0;
	padding:0;
	white-space:nowrap;
	display:block;
	width:100%;
	float:left;
	}
    
nav.options-menu ul h3 {
        padding: 15px;
        color: black;
        font-size: 13px;
    }
	
.mainMenu a, .mainMenu a:visited {
	display:block;
	width:100%; /*required to make whole element clickable*/
	}
label.menuTitle {
	margin:0;
	display:block;
	cursor:pointer;
	background: url('../images/menu.png');
    background-image: url('../images/menu.svg'), none; 
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 24px 19px; /*Make same size as your menu.png*/
	}
	
@media screen and (min-width:1200px) {
	label.menuTitle {
		display:none;
		}
	
	.mainMenu ul { 
		display:block!important;
		border:0;
		overflow:visible;
		max-height:100%!important; 
		}	

	.mainMenu ul li {
		width:auto; 
		display:inline; 
		border:0; 
		}
}


/*Menu Styling CSS - change the below to suit your site!*/
.mainMenu {
	}

.mainMenu li {
    background: black;
    border-bottom: solid 1px grey;
	}
nav.options-menu ul li:nth-child(6) {
    filter:invert(100%);
    }
nav.options-menu ul li h3 {
    filter:invert(100%);
    font-size: 18px;
    font-weight: 400;
    }
.mainMenu a, .mainMenu a:visited {
	width:94%; /*Use 100% and box-sizing if not supporting ie7*/
	padding: 15px 3%;
	background: none;
    text-align: left;
    font-size: 16px;
    color: white;
    text-decoration: none;
	}
	
label.menuTitle {
	width: 30px;
    height: 30px;
	padding: 0px 3%;
	margin: 10px auto;
	}
	
@media screen and (min-width:1200px) {

	.mainMenu li {
		border:0;
        background: white;
        float: none;
		}
	
	.mainMenu a:hover  {
		color:#767676;
		}

	.mainMenu a, .mainMenu a:visited {
		padding:10px 3px 10px 8px;
		}
    
    
    /* DESKTOP NAVIGATION */
    nav.options-menu {
        position: absolute;
        top: 2%;
        left: 12%;
    }
    nav.options-menu ul, nav.options-menu h3 {
        display: inline-block;
    }
    nav.options-menu ul li {
        display: inline-block;
        margin-right: 25px;
    }
    nav.options-menu ul li:nth-child(6) {
        margin-right: 0px;
        filter: none;
    }
    nav.options-menu ul li h3 {
        filter: none;
        font-size: 13px;
        font-weight: 600;
    }
    nav.options-menu ul.nav-links {
        font-size: 14px;
    }
    nav.options-menu h3::before/*, nav.options-menu ul.social-links::after */{
        content: '|';   
        margin-right: 30px;
    }
    nav.options-menu ul.nav-links a {
        color: black;
        text-decoration: blink;
        font-size: 13px;
    }
    nav.options-menu ul.nav-links a:hover {
        opacity: .5;
    }
    nav.options-menu ul.nav-links a:active {
        color: #867dc6;   
    }
    nav.options-menu ul h3 {
        padding: 10px;
        color: black;
        font-size: 13px;
    }
    /*nav.options-menu ul.social-links li {
        margin-right: 8px;
    }
    ul.social-links li a {
        width: 30px;
        height: 30px;
        padding: 3px;
        text-indent: -9999px;
        display: block;

        transition: all .3s linear;
        -moz-transition: all .3s linear;
        -webkit-transition: all .3s linear;
        -o-transition: all .3s linear;

        position: relative;
        bottom: 2px;
    }
    ul.social-links li a:hover {
        filter:invert(100%);
        -moz-filter: invert(100%);
        -webkit-filter: invert(100%);

        transition: all .3s linear;
        -moz-transition: all .3s linear;
        -webkit-transition: all .3s linear;
        -o-transition: all .3s linear;
    }
    ul.social-links a[href*="facebook"] {background:url(../img/icons/facebook.png) center center no-repeat, #FFFFFF;}
    ul.social-links a[href*="twitter"] {background: url(../img/icons/twitter.png) center center no-repeat, #FFFFFF;}
    ul.social-links a[href*="plus.google"] {background: url(../img/icons/google-plus.png) center center no-repeat, #FFFFFF;}
    *//* end header */
}